fastapi
uvicorn
python-dotenv
pydantic[email]
python-multipart
httpx
requests

# Database & Auth
supabase
asyncpg
psycopg2-binary
python-jose[cryptography]

# AI & LLM
openai
langchain
langgraph
langgraph-checkpoint
langgraph-prebuilt
langchain-openai
langchain-community

# AWS
boto3

# Utilities
resend
razorpay
pdfplumber
pymupdf
pypdf
inference-sdk
beautifulsoup4
markdown
uuid7
pytz
edge-tts
qstash
qrcode[pil]
Pillow