fastapi
uvicorn
python-dotenv
python-multipart
pydantic
supabase
websockets
httpx
pypdf
pymupdf
langchain
langchain-community
langchain-core
langchain-groq
pymupdf
pytz
qstash

google-generativeai
huggingface_hub
openai 
edge-tts
aiofiles
